<ion-header>
  <ion-toolbar color="midnight">
    <ion-title color="sunset">
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="coal">
  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/original/rkRqvadAVWzdnrS6bdcUAyJtfpy.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash<span>(2014)</span></h1>
    </ion-item>

    <ion-item color="coal">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acomapnha 
        Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>
  </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <img src="https://image.tmdb.org/t/p/w500_and_h282_face/70YdbMELM4b8x8VXjlubymb2bQ0.jpg">
      </ion-card-header>
  
      <ion-item color="dark">
        <h1>Anne With an E<span>(2017)</span></h1>
      </ion-item>
  
      <ion-item color="coal">
        <div class="info ion-text-center">
          <span class="tipo">TV-G</span> <span class="duracao">474m</span>
          <p>Drama, Família</p>
        </div>
      </ion-item>
  
      <ion-item color="dark">
        <div>
          <h2>Sinopse</h2>
          <p>O mundo de Green Gables que Anne tanto adora se expande com novas 
          pessoas e emocionantes histórias de amor, perdas e amadurecimento.</p>
        </div>
      </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w500_and_h282_face/3Il6CQG1PuyzTSvqLlza1tIaQiy.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Hollywood<span>(2020)</span></h1>
    </ion-item>

    <ion-item color="coal">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">50m</span>
        <p>Drama</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Um grupo de aspirantes a atores e produtores na Hollywood pós-Segunda  
        Guera Mundial tenta alcançar seus sonhos - não importa o custo.</p>
      </div>
    </ion-item>
    </ion-card>

    <ion-card color="dark">
      <ion-card-header>
        <img src="https://image.tmdb.org/t/p/original/aTU2jmGQTn0516hY2sZCgYEyB0l.jpg">
      </ion-card-header>
  
      <ion-item color="dark">
        <h1>Titans<span>(2018)</span></h1>
      </ion-item>
  
      <ion-item color="medium">
        <div class="info ion-text-center">
          <span class="tipo">TV-MA</span> <span class="duracao">43m</span>
          <p>Action & Adventure, Sci-Fi & Fantasy, Drama</p>
        </div>
      </ion-item>
  
      <ion-item color="dark">
        <div>
          <h2>Sinopse</h2>
          <p>Uma equipe de jovens super-heróis liderada por Asa Noturna (Anteriormente) 
          Robin de Batman) formada para combater o mal e outros perigos.</p>
        </div>
      </ion-item>
      </ion-card>
    

</ion-content>
