<ion-header>
  <ion-toolbar color="midnight">
    <ion-title color="sunset">
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="coal">

  <ion-list>
    
    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/camundongos.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        Camundongos Aventureiros
      </ion-label>
      <div slot="end" class="c100 p100 small green">
        <span>100%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/totallyspies.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        As Três Espiãs Demais
      </ion-label>
      <div slot="end" class="c100 p90 small green">
        <span>90%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>
    
    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/kick.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        Kick Buttowski
      </ion-label>
      <div slot="end" class="c100 p80 small green">
        <span>80%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>
  
    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/superpoderosas.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        As Meninas Superpoderosas
      </ion-label>
      <div slot="end" class="c100 p70 small green">
        <span>70%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/bobesponja.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        Bob Esponja
      </ion-label>
      <div slot="end" class="c100 p40 small orange">
        <span>40%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item Lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/jimmy.jpg" width="75">
      </ion-thumbnail>
      <ion-label>
        Jimmy Neutron
      </ion-label>
      <div slot="end" class="c100 p20 small">
        <span>20%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>


  </ion-list>

</ion-content>