<ion-header>
  <ion-toolbar class="ion-toolbar" color="coal">
  </ion-toolbar>
</ion-header>

<ion-content color="coal">
  <div class="banner">
    <div class="info-banner">
      <h1>Ad Astra</h1>
    </div>
  </div>

  <ion-item color="coal">
    <div class="info ion-text-center">
      <i><strong><p>As respostas que procuramos estão fora do nosso alcance.</p></strong></i><br>
      <span class="tipo">PG-13</span> <span class="duracao">2h03m</span>
      <p>Ficção científica, Drama</p>
    </div>
  </ion-item>

  <center><ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação do público</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div slot="end" class="c100 p60 small center orange">
        <span>60%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">SINOPSE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.
    </ion-card-content>
  </ion-card></center>

</ion-content>
