// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** Night **/
  --ion-color-night: #3f2d67;
  --ion-color-night-rgb: 63,45,103;
  --ion-color-night-contrast: #ffffff;
  --ion-color-night-contrast-rgb: 255,255,255;
  --ion-color-night-shade: #37285b;
  --ion-color-night-tint: #524276;

  /** Sunset **/
  --ion-color-sunset: #ee8711;
  --ion-color-sunset-rgb: 238,135,17;
  --ion-color-sunset-contrast: #000000;
  --ion-color-sunset-contrast-rgb: 0,0,0;
  --ion-color-sunset-shade: #d1770f;
  --ion-color-sunset-tint: #f09329;

  /** Coal **/
  --ion-color-coal: #474649;
  --ion-color-coal-rgb: 71,70,73;
  --ion-color-coal-contrast: #ffffff;
  --ion-color-coal-contrast-rgb: 255,255,255;
  --ion-color-coal-shade: #3e3e40;
  --ion-color-coal-tint: #59595b;

  /** Midnight **/
  --ion-color-midnight: #110628;
  --ion-color-midnight-rgb: 17,6,40;
  --ion-color-midnight-contrast: #ffffff;
  --ion-color-midnight-contrast-rgb: 255,255,255;
  --ion-color-midnight-shade: #0f0523;
  --ion-color-midnight-tint: #291f3e;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-night {
  --ion-color-base: var(--ion-color-night);
  --ion-color-base-rgb: var(--ion-color-night-rgb);
  --ion-color-contrast: var(--ion-color-night-contrast);
  --ion-color-contrast-rgb: var(--ion-color-night-contrast-rgb);
  --ion-color-shade: var(--ion-color-night-shade);
  --ion-color-tint: var(--ion-color-night-tint);
}

.ion-color-sunset {
  --ion-color-base: var(--ion-color-sunset);
  --ion-color-base-rgb: var(--ion-color-sunset-rgb);
  --ion-color-contrast: var(--ion-color-sunset-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sunset-contrast-rgb);
  --ion-color-shade: var(--ion-color-sunset-shade);
  --ion-color-tint: var(--ion-color-sunset-tint);
}

.ion-color-coal {
  --ion-color-base: var(--ion-color-coal);
  --ion-color-base-rgb: var(--ion-color-coal-rgb);
  --ion-color-contrast: var(--ion-color-coal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-coal-contrast-rgb);
  --ion-color-shade: var(--ion-color-coal-shade);
  --ion-color-tint: var(--ion-color-coal-tint);
}

.ion-color-midnight {
--ion-color-base: var(--ion-color-midnight);
--ion-color-base-rgb: var(--ion-color-midnight-rgb);
--ion-color-contrast: var(--ion-color-midnight-contrast);
--ion-color-contrast-rgb: var(--ion-color-midnight-contrast-rgb);
--ion-color-shade: var(--ion-color-midnight-shade);
--ion-color-tint: var(--ion-color-midnight-tint);
}

