<ion-header>
  <ion-toolbar class="ion-toolbar" color="coal">
  </ion-toolbar>
</ion-header>

<ion-content color="coal">
  <div class="banner">
    <div class="info-banner">
      <h1>Flash</h1>
    </div>
  </div>

  <ion-item color="coal">
    <div class="info ion-text-center">
      <i><strong><p>O mais rápido homem existente.</p></strong></i><br>
      <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
      <p>Drama, Sci-Fi & Fantasy</p>
    </div>
  </ion-item>

  <center><ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação do público</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div slot="end" class="c100 p73 small center green">
        <span>73%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">SINOPSE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">INFORMAÇÕES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      SEIS TEMPORADAS
    </ion-card-content>
  </ion-card></center>

</ion-content>
