<ion-header>
  <ion-toolbar class="ion-toolbar" color="coal">
  </ion-toolbar>
</ion-header>

<ion-content color="coal">
  <div class="banner">
    <div class="info-banner">
      <h1>Anne with an E</h1>
    </div>
  </div>

  <ion-item color="coal">
    <div class="info ion-text-center">
      <i><strong><p>Bem-vindo de volta a Green Gables.</p></strong></i><br>
      <span class="tipo">TV-G</span> <span class="duracao">47m</span>
      <p>Drama, Família</p>
    </div>
  </ion-item>

  <center><ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação do público</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div slot="end" class="c100 p88 small center green">
        <span>88%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">SINOPSE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O mundo de Green Gables que Anne tanto adora se expande com novas pessoas e emocionantes histórias de amor, perdas e amadurecimento.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">INFORMAÇÕES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      TRÊS TEMPORADAS
    </ion-card-content>
  </ion-card></center>

</ion-content>
