<ion-header>
  <ion-toolbar class="ion-toolbar" color="coal">
  </ion-toolbar>
</ion-header>

<ion-content color="coal">
  <div class="banner">
    <div class="info-banner">
      <h2>Três Espiãs Demais!</h2>
    </div>
  </div>

  <ion-item color="coal">
    <div class="info ion-text-center">
      <i><strong><p>Alex, Clover e Sam. Sempre juntas.</p></strong></i><br>
      <span class="tipo">TV-Y7</span> <span class="duracao">22m</span>
      <p>Animação, Comédia, Drama, Kids, Action & Adventure</p>
    </div>
  </ion-item>

  <center><ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação pessoal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div slot="end" class="c100 p90 small center green">
        <span>90%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação pública</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div slot="end" class="c100 p66 small center orange">
        <span>66%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="midnight" class="titulo-card">SINOPSE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A série conta a história de três típicas adolescentes em Beverly Hills : Sam, Clover e Alex. O que poucos sabem é que elas são espiãs comandadas por Jerry, líder de uma organização secreta chamada World Organization of Human Protection (WOOHP), em português Organização Mundial de Proteção Humana. Assim, as garotas têm que dividir suas missões juntamente com as preocupações típicas do seu dia-a-dia: provas de escola, garotos, compras e, sua rival, Mandy, uma patricinha fresca e mimada.
    </ion-card-content>
  </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title color="midnight" class="titulo-card">INFORMAÇÕES</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        SEIS TEMPORADAS.
      </ion-card-content>
    </ion-card></center>

</ion-content>
